#   1.0 DB
#   NEON Connection String
DATABASE_URL=""

#   2.0 Auth
#   Better-Auth Secret Key
BETTER_AUTH_SECRET=

#   Base URL of your app
BETTER_AUTH_URL

#   Client Id of your OAuth App
GITHUB_CLIENT_ID=
#   GitHub Generated Secret
GITHUB_CLIENT_SECRET=

#   3.0 GitHub App
#   GitHub App Id
GITHUB_APP_ID=

#   GitHub App Name
GITHUB_APP_NAME=

#   GitHub App Public Link
NEXT_PUBLIC_GITHUB_PUBLIC_LINK=

#   GitHub Generated Private Key With Proper Escaping Chars
GITHUB_APP_PRIVATE_KEY=

#   GitHub Webhook Secret
GITHUB_WEBHOOK_SECRET=

#   4.0 Inngets
INNGEST_DEV=     #Set = 1, so your app connects to the local Dev Server instead of Inngest Cloud

#   5.0 Openrouter API Key
OPENROUTER_API_KEY=

#   6.0 Pinecone
#   Pinecone index name
PINECONE_INDEX=

PINECONE_API_KEY=

#   7.0 Razorpay
#Razorpay API Key
RAZORPAY_KEY_ID=

#Razorpay Secret Key
RAZORPAY_KEY_SECRET=

#Razorpay Plan ID
RAZORPAY_PLAN_ID=

#Razorpay Webhook Secret Provided using webhook creation
RAZORPAY_WEBHOOK_SECRET=
