#   1.0 DB
#   NEON Connection String
DATABASE_URL=""

#   2.0 Auth
#   Better-Auth Secret Key
BETTER_AUTH_SECRET=

#   Base URL of your app
BETTER_AUTH_URL

#   Client Id of your OAuth App
GITHUB_CLIENT_ID=
#   GitHub Generated Secret
GITHUB_CLIENT_SECRET=